.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

h1 {
  margin-top: 10px;
  margin-bottom: 25px;
}


.text-container {
  text-align: center;
}

/* Media Query for Mobile Phones (480px) */
@media screen and (max-width: 480px) {
  main {
    padding: 1rem; 
  }
}
